@use "variables" as v;
@mixin button (){
    display: inline-block;
    margin : 1rem 0;
    padding : 0.5rem 1rem;

    color: v.$pink-color;
    background-color: v.$white-color;
    border : 2px solid v.$pink-color;
    border-radius: 7%;
    height: 3rem;
    font-weight: bold;

    &:hover{
        color: v.$white-color;
        background-color: v.$pink-color;
    }
}